{% extends 'base.html.twig' %}

{% block body %}
    <h1> Titre : {{ exercise.subject.title}} </h1>
    {{ form_start(form) }}
    {{ form_row(form.response,{ 'attr': {'class': 'form-control'} }) }}
    <p><strong>Consignes :</strong></p>
    <p>{{ exercise.subject.comment }}</p>
    <a class="btn btn-secondary btn-purple" href="{{asset (vich_uploader_asset (exercise.subject, 'documentFile'))}}" target="_blank">Voir le sujet</a>

    <input class="btn btn-secondary btn-purple" type="submit" value="Valider ces valeurs"/>
    {{ form_end(form) }}


{% endblock %}