{% if is_granted(constant('App\\Security\\Role::ROLE_STUDENT')) %}


    <aside class="main-sidebar sidebar-dark-primary elevation-4 bg-purple">

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                <div class="info">
                    <p class="menu-header">MENU</p>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item">
                        <a href="{{ path("student_index")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Accueil
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("student_exercise_list")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Mes exercices
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("logout")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Déconnexion
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <button class="btn btn-default" data-widget="control-sidebar" data-slide="false"  >Menu</button>
{% endif %}
{% if is_granted(constant('App\\Security\\Role::ROLE_TEACHER')) %}

    <aside class="main-sidebar sidebar-dark-primary elevation-4 bg-purple">

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                <div class="info">
                    <p class="menu-header">MENU</p>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item">
                        <a href="{{ path("teacher_index")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Accueil
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("teacher_subject_list")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Mes sujets
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("teacher_subject_new")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Nouveau sujet
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("teacher_answer_list")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Comptes-rendus
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("teacher_team_list")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Gestion des classes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("teacher_student_list")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Gestion des étudiants
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("logout")}}" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                Déconnexion
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>
    <button class="btn btn-default" data-widget="control-sidebar" data-slide="false"  >Menu</button>

{% endif %}

